.header {
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:992px;
  margin:0 auto;
}

.header-home
{
  font-size:2.5em;
  display:inline;
}


.header-home a { text-decoration:none; }
.header-home a:hover { text-decoration:underline; }


.header-menu-item
{
  list-style-type:none;
  display:inline;
  font-size:1.5em;
  margin-right:30px;
}


.header-menu-item a { text-decoration:none; }
.header-menu-item a:hover
{
  color:black;
  background-color:white;
  text-decoration:underline;
}



.sketches-title
{
  font-size:3em;
  text-align:center;
  margin:200px 0 100px 0;
}


.sketches-sketches-list
{
  text-align:center; 
}


